{% extends "base_templete.html" %}

{% block content %}

    {% if game.image %}
        <img src="{{game.image.url}}" alt="my image" width="240">
    {% endif %}

    <p><strong>{{game.title}}</strong></p>
    <p><strong>Жанр: </strong>{% for genre in game.genre.all %} {{genre}} {% endfor %}</p>
    <p><strong>Платформа: </strong>{% for platform in game.platforms.all %} {{platform}} {% endfor %}</p>
    <p><strong>Выпущена: </strong>{{game.release}}</p>
    <p><strong>Описание: </strong>{{game.summary}}</p>
    <p><strong>Прохождение: </strong>{{game.faq}}</p>

{% endblock %}