<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>

<body>

<header class="header">
    <div class="container">
        <nav class="nav">
            <a class= "nav_link" href="{% url 'index' %}">Главная</a>
            <a class= "nav_link" href="{% url 'admin:index' %}">Админка</a>
            <a class= "nav_link" href="{% url 'games' %}">Все Игры</a>
            <a class= "nav_link" href="{% url 'platforms' %}">Все платформы</a>
            <a class= "nav_link" href="{% url 'forum' %}">Форум</a>
            <a class="nav_link" href="{% url 'pp' %}">Дайте денег</a>
            <a class="nav_link" href="{% url 'contacts' %}">О нас</a>
            <a class="nav_link" href="{% url 'register' %}">Регистрация</a>
            <a class="nav_link" href="{% url 'login' %}">Войти</a>
        </nav>
    </div>
    {% block content %}
    {% endblock %}

        <!-- ЛОГИН -->

    <table>
        {% if user.is_authenticated %}
            <ul>
                <li><a class="color_genre">Пользователь: </a>{{user.get_username}}</li>
                <li><a class="color_genre" href="/">Профиль</a></li>
            <a class="list" href="{% url 'logout' %}">Выйти</a>
            </ul>
        {% if user.is_superuser %}
        <ul>
            <li><a class="list" href="{% url 'add_g' %}">Добавить Игру</a></li>
            <li><a class="list" href="{% url 'add_p' %}">Добавить платформу</a></li>
            </ul>
        {% endif %}
        {% endif %}
    </table>

    <!-- НИЖЕ ПОСТРАНИЧНЫЙ ВВОД -->
    <!-- ТУТ НИХУЯ НЕ ТРОГАЙ, КОЛЯН!!! НЕ ДЫШИ ПРЯМ :) -->

    {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
        {% endif %}
    {% endblock %}

        <!-- СЕССИИ+COOKIE -->

    <ul class="list">Посещений:
        {% if request.session.num_visits %}

            {{request.session.num_visits}}

        {% endif %}
    </ul>
</header>

    <!-- А ВОТ ТУТ ДЕЛАЙ ШО ХОШ, МНЕ ПОЕБАТЬ :) -->

<div class="intro">
    <div class="container">
        <div class="intro_title">Phantasy Star</div>
        <div class="intro_inner"></div>
    </div>
</div>


</body>
</html>
